In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Input1.csv')

In [3]:
data[0:10]

   50
0  50
1  50
2  50
3  50
4  50
5  50
6  50
7  50
8  50
9  50

In [8]:

soc_1 = 20 #(50%)
cap_1 = 40
pr_0 = 50

MPR = 20*40 / 1

if(MPR>=pr_0):
    mean = pr_0
else:
    mean = MPR


    
mean_auto1

50